<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DesignPatternDemo"
        tools:targetApi="31">
        <activity
            android:name=".flyweight.DemoFlyweightStart"
            android:exported="false" />
        <activity
            android:name=".flyweight.DemoFlyweightMain"
            android:exported="false" />
        <activity
            android:name=".interpreter.DemoInterpreterStart"
            android:exported="false" />
        <activity
            android:name=".interpreter.DemoInterpreterMain"
            android:exported="false" />
        <activity
            android:name=".state.DemoStateStart"
            android:exported="false" />
        <activity
            android:name=".state.DemoStateMain"
            android:exported="false" />
        <activity
            android:name=".visitor.DemoVisitorStart"
            android:exported="false" />
        <activity
            android:name=".visitor.DemoVisitorMain"
            android:exported="false" />
        <activity
            android:name=".memento.DemoMementoStart"
            android:exported="false" />
        <activity
            android:name=".memento.DemoMementoMain"
            android:exported="false" />
        <activity
            android:name=".facade.DemoFacadeStart"
            android:exported="false" />
        <activity
            android:name=".facade.DemoFacadeMain"
            android:exported="false" />
        <activity
            android:name=".observer.DemoObserverStart"
            android:exported="false" />
        <activity
            android:name=".observer.DemoObserverMain"
            android:exported="false" />
        <activity
            android:name=".composite.DemoCompositeStart"
            android:exported="false" />
        <activity
            android:name=".composite.DemoCompositeMain"
            android:exported="false" />
        <activity
            android:name=".iterator.DemoIteratorStart"
            android:exported="false" />
        <activity
            android:name=".iterator.DemoIteratorMain"
            android:exported="false" />
        <activity
            android:name=".adapter.DemoAdapterStart"
            android:exported="false" />
        <activity
            android:name=".adapter.DemoAdapterMain"
            android:exported="false" />
        <activity
            android:name=".strategy.DemoStrategyStart"
            android:exported="false" />
        <activity
            android:name=".strategy.DemoStrategyMain"
            android:exported="false" />
        <activity
            android:name=".decorator.DemoDecoratorStart"
            android:exported="false" />
        <activity
            android:name=".decorator.DemoDecoratorMain"
            android:exported="false" />
        <activity
            android:name=".chain_of_responsibility.DemoChainStart"
            android:exported="false" />
        <activity
            android:name=".chain_of_responsibility.DemoChainMain"
            android:exported="false" />
        <activity
            android:name=".command.DemoCommandStart"
            android:exported="false" />
        <activity
            android:name=".command.DemoCommandMain"
            android:exported="false" />
        <activity
            android:name=".mediator.DemoMediatorStart"
            android:exported="false" />
        <activity
            android:name=".mediator.DemoMediatorMain"
            android:exported="false" />
        <activity
            android:name=".prototype.DemoPrototypeStart"
            android:exported="false" />
        <activity
            android:name=".prototype.DemoPrototypeMain"
            android:exported="false" />
        <activity
            android:name=".proxy.DemoProxyStart"
            android:exported="false" />
        <activity
            android:name=".proxy.DemoProxyMain"
            android:exported="false" />
        <activity
            android:name=".builder.DemoBuilderStart"
            android:exported="false" />
        <activity
            android:name=".builder.DemoBuilderMain"
            android:exported="false" />
        <activity
            android:name=".template.DemoTemplateStart"
            android:exported="false" />
        <activity
            android:name=".template.DemoTemplateMain"
            android:exported="false" />
        <activity
            android:name=".abstract_factory.DemoAbstractFactoryStart"
            android:exported="false" />
        <activity
            android:name=".abstract_factory.DemoAbstractFactoryMain"
            android:exported="false" />
        <activity
            android:name=".factory.DemoFactoryStart"
            android:exported="false" />
        <activity
            android:name=".factory.DemoFactoryMain"
            android:exported="false" />
        <activity
            android:name=".singleton.DemoSingletonStart"
            android:exported="false" />
        <activity
            android:name=".singleton.DemoSingletonMain"
            android:exported="false" />
        <activity
            android:name=".HelloWorldAct"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>