<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DesignPatternDemo"
        tools:targetApi="31">
        <activity
            android:name=".proxy.DemoProxyStart"
            android:exported="false" />
        <activity
            android:name=".proxy.DemoProxyMain"
            android:exported="false" />
        <activity
            android:name=".builder.DemoBuilderStart"
            android:exported="false" />
        <activity
            android:name=".builder.DemoBuilderMain"
            android:exported="false" />
        <activity
            android:name=".template.DemoTemplateStart"
            android:exported="false" />
        <activity
            android:name=".template.DemoTemplateMain"
            android:exported="false" />
        <activity
            android:name=".abstract_factory.DemoAbstractFactoryStart"
            android:exported="false" />
        <activity
            android:name=".abstract_factory.DemoAbstractFactoryMain"
            android:exported="false" />
        <activity
            android:name=".factory.DemoFactoryStart"
            android:exported="false" />
        <activity
            android:name=".factory.DemoFactoryMain"
            android:exported="false" />
        <activity
            android:name=".singleton.DemoSingletonStart"
            android:exported="false" />
        <activity
            android:name=".singleton.DemoSingletonMain"
            android:exported="false" />
        <activity
            android:name=".HelloWorldAct"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>